.gallery-wrapper {
  background-color: white;
  overflow: initial;
  width: 100%;
  margin: auto;
  position: relative;
  .section-title-wrapper {
    background-color: #f9f9f9;
    .section-title {
      margin-bottom: 0;
    }
  }
  .gallery {
    overflow: hidden;
    background-color: white;
    margin: 15px 15px 0;
    .gallery-content {
      max-width: 1320px;
      margin: auto;
      min-height: 500px;
      justify-content: center;
      .gallery-block-wrapper {
        margin: 5px;
        .gallery-img {
          width: 100%;
          display: block;
          &[src=''] {
            background: linear-gradient(to top right, #d6defc, #fff);
            padding-bottom: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .gallery-wrapper.home-page-wrapper {
    padding-bottom: 0;
    box-shadow: none;
    width: 100%;
    .gallery {
      overflow-x: auto;
      .gallery-content {
        width: 1500px;
        min-height: 330px;
      }
      &.home-page {
        margin: auto;
        padding-bottom: 0;
      }
    }
    .content-wrapper {
      .gallery-block {
        max-width: 90%;
      }
    }
  }
}
